
/* Your CSS Code here. */
th, td{
    border: 2px solid black;
    font-weight: bolder;
    font-size: 15px;
}

table{
    border-collapse: collapse;
    width: 800px;
    height: 100px;   
}

th{
    background-color: chocolate;
    text-align: left;
    color: white;
}

.row1{
    background-color: rgb(251, 147, 109);
    color: white;
    text-align:right;
}

 .waist{
    text-align:left;
}

.row2{
    background-color:rgba(228, 226, 218, 0.884);
    text-align:right;
}

.chest{
    text-align: left;

}

.row3{
    background-color:rgba(228, 226, 218, 0.668);
    text-align:right;
}

.sleeve{
    text-align: left;
}


